quickCatCreate.php

downloader/**/*

/var/cache/**/*
/var/session/**/*
/var/session/*
/var/log/*
/var/locks/*
/var/report/*
/var/import/*
/var/package/*
/var/resource_config.json

/media/catalog/product/cache/**/*
/media/catalog/product/*
/media/custom/*
/media/js/*
/media/css/*.css
/media/slideshow/*
/media/productUploadTempFolder/*
/media/bannerimages/*


/errors/local.xml
/app/etc/local.xml

