<?xml version="1.0"?>
<config>
    <modules>
        <Adodis_Postad>
            <version>0.1.0</version>
        </Adodis_Postad>
    </modules>
    <frontend>
        <routers>
            <postad>
                <use>standard</use>
                <args>
                    <module>Adodis_Postad</module>
                    <frontName>postad</frontName>
                </args>
            </postad>
        </routers>
        <layout>
            <updates>
                <postad>
                    <file>postad.xml</file>
                </postad>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <postad>
                <use>admin</use>
                <args>
                    <module>Adodis_Postad</module>
                    <frontName>postad</frontName>
                </args>
            </postad>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <postad module="postad">
                <title>Postad</title>
                <sort_order>71</sort_order>
                <children>
                    <items module="postad">
                        <title>Manage Items</title>
                        <sort_order>0</sort_order>
                        <action>postad/adminhtml_postad</action>
                    </items>
                </children>
            </postad>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Adodis_Postad>
                            <title>Postad Module</title>
                            <sort_order>10</sort_order>
                        </Adodis_Postad>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <postad>
                    <file>postad.xml</file>
                </postad>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <postad>
                <class>Adodis_Postad_Model</class>
                <resourceModel>postad_mysql4</resourceModel>
            </postad>
            <postad_mysql4>
                <class>Adodis_Postad_Model_Mysql4</class>
                <entities>
                    <postad>
                        <table>postad</table>
                    </postad>
                </entities>
            </postad_mysql4>
        </models>
        <resources>
            <postad_setup>
                <setup>
                    <module>Adodis_Postad</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </postad_setup>
            <postad_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </postad_write>
            <postad_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </postad_read>
        </resources>
        <blocks>
            <postad>
                <class>Adodis_Postad_Block</class>
            </postad>

            <adminhtml>
                <rewrite>
                    <sales_order_view>Adodis_Postad_Block_Adminhtml_Sales_Order_View</sales_order_view>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <postad>
                <class>Adodis_Postad_Helper</class>
            </postad>
        </helpers>
    </global>
</config>
